[Desktop Entry]
Type=Application
Version=1.0
Name=Install Salient OS
GenericName=Live Installer (Calamares)
Keywords=calamares;system;installer
TryExec=calamares
Exec=sudo /usr/bin/calamares %f
Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;Desktop
X-AppStream-Ignore=true
